[submodule "PEngine/vendor/spdlog"]
	path = PEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "PEngine/vendor"]
	path = PEngine/vendor/glfw
	url = https://github.com/EpicMovie/glfw
